{% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row align-items-start">
        <div class="col-xxl-3">
            <h5 class="text_footer">ĩnfoMFS&#350;</h5>
            <ul class="list-unstyled text-left">
                <li><small class="d-block mb-3 text-muted" href="#">MultiFunctionalSafetySystem</small></li>
            </ul>
        </div>
        <div class="col-xxl-3">
            <h5 class="text_footer">www.infomfss.ru</h5>
            <ul class="list-unstyled text-left">
                <li><small class="d-block mb-3 text-muted" href="#">Телефон для связи: +79959686778</small></li>
            </ul>
        </div>
        <div class="col-xxl-3">
        </div>
        <div class="col-xxl-3 justify-content-sm-start text-sm-end">
            <ul class="list-unstyled text-end">
                <li><a class="color-text-violet underline-none list-unstyled text-left" href="
                    {% url 'mfss:contact' %}">Пожелания и предложения</a></li>
                <li><a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                    <img src="{% static 'images/svg/cup-hot1.svg' %}" class="card-grey card-radius icon"
                         width="30" height="30" alt="#">
                </a></li>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-start">
                                <h5 class="modal-title" id="exampleModalLongTitle">Если вам нравится то, что я сделал,
                                    и вы хотите поддержать проект — буду рад любой помощи! Можно купить мне кофе ☕
                                    или просто отправить символическую сумму.
                                    Каждая копейка мотивирует и помогает развиваться дальше. Номер телефона
                                    +79959686778,
                                    привязан к банку Тинькофф. Ваша поддержка помогает делать проект лучше!
                                    Взамен обещаю продолжать улучшать сервис и радовать вас новыми фичами!
                                    Спасибо!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 text-left">
                <small class="d-block mb-3 text-muted">&copy; 2025 ОП Ярега УГПР №2</small>
            </div>
        </div>
    </footer>
</footer>

