<!-- Modal -->
{% load static %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-start">
                <h5 class="modal-title" id="exampleModalLongTitle">Если вам нравится то, что я сделал,
                    и вы хотите поддержать проект — буду рад любой помощи! Можно купить мне кофе ☕
                    или просто отправить символическую сумму.
                    Каждая копейка мотивирует и помогает развиваться дальше. Номер телефона +79959686778,
                    привязан к банку Тинькофф. Ваша поддержка помогает делать проект лучше!
                    Взамен обещаю продолжать улучшать сервис и радовать вас новыми фичами!
                    Спасибо!</h5>
            </div>
        </div>
    </div>
</div>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
