<!-- Modal -->
<div class="modal fade" id="nsh2Modal" tabindex="-1" aria-labelledby="nsh2ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nsh2ModalLabel">Нефтешахта №2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Выполнение: {{ percent_mine2 }} %</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn nsh-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>