gunicorn==21.2.0
Django==5.1.2
uwsgi==2.0.23
pillow==11.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
coverage==7.6.4
coreapi==2.3.3
requests==2.32.3
pyOpenSSL==24.2.1
eventlet==0.37.0
django-environ==0.11.2
libsass==0.23.0
django-compressor==4.5.1
django-sass-processor==1.4.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-smart-selects==1.7.2
django-filter==24.3
django-simple-captcha==0.6.1
python-json-logger==3.2.1
django-extensions==4.1
pytest==8.3.5
pytest-django==4.11.1
