{% extends 'mfss/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'mfss/includes/navbar_home.html' %}
{% endblock %}

{% block content %}
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="{% url 'mfss:cable' %}">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow card-imad-auth border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Выбор критерия
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md mx-2">
                            Выполнить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center">
        {% if mine is not None %}
            {% if cable_list %}
                <h9>По критериям: {{ mine }}
                    &#8594;
                    {{ subsystem }}
                    &#8594;
                    {{ incl_blocks }} &#9989;</h9>
            {% else %}
                <h9a>По критериям: {{ mine }}
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M1 8C1 7.72386 1.22386 7.5 1.5 7.5L13.2929 7.5L10.1464 4.35355C9.95118 4.15829 9.95118 3.84171 10.1464 3.64645C10.3417 3.45118 10.6583 3.45118 10.8536 3.64645L14.8536 7.64645C15.0488 7.84171 15.0488 8.15829 14.8536 8.35355L10.8536 12.3536C10.6583 12.5488 10.3417 12.5488 10.1464 12.3536C9.95118 12.1583 9.95118 11.8417 10.1464 11.6464L13.2929 8.5H1.5C1.22386 8.5 1 8.27614 1 8Z"
                              fill="red"/>
                    </svg>
                    {{ subsystem }}
                    &#10060;
                    {{ incl_blocks }}</h9a><br><br>
                <h9a>Данные отсутствуют</h9a><br><br><br>
            {% endif %}
        {% endif %}
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                {% if cable_list %}
                    <table class="table table-hover">
                    <thead class="table-primary">
                    <tr class="table-active box-table-th">
                        <th>Шахта</th>
                        <th>Подсистема</th>
                        <th>Начало трассы</th>
                        <th>Конец трассы</th>
                        <th>Уклонный блок</th>
                        <th>Протяженность</th>
                        <th>Марка кабеля</th>
                        <th class="text-center">Обозначение в проекте</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for cable in cable_list %}
                    {% if cable.cable_magazine %}
                        <tr class="box-table-td">
                            <td>{{ cable.cable_magazine.number_mine.title }}</td>
                            <td>{{ cable.cable_magazine.subsystem.title }}</td>
                            <td>{{ cable.cable_magazine.track_from_box.title }}
                                ({{ cable.cable_magazine.track_from_box.tunnel.title }})
                            </td>
                            {% if cable.cable_magazine.track_to_box.title %}
                                <td>{{ cable.cable_magazine.track_to_box.title }}
                                    ({{ cable.cable_magazine.track_to_box.tunnel.title }})
                                </td>
                            {% else %}
                                <td>{{ cable.cable_magazine.track_to_phone.title }}
                                    ({{ cable.cable_magazine.track_to_phone.tunnel.title }})
                                </td>
                            {% endif %}
                            <td>{{ cable.cable_magazine.inclined_blocks.title }}</td>
                            <td>{{ cable.cable_magazine.distance }}</td>
                            <td>{{ cable.cable_magazine.cable.title }}</td>
                            <td class="text-center">{{ cable.cable_magazine.name }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}
