{% extends 'mfss/base.html' %}

{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'mfss/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'mfss/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="{% url 'mfss:cable' %}">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow card-imad-auth border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Фильтр
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center">
        {% if mine is not None %}
            {% if cable_list %}
                <h9>{{ mine }}
                    &#8594;
                    {{ subsystem }}
                    &#8594;
                    {{ incl_blocks }} &#9989;
                </h9>
            {% else %}
                <h9a>{{ mine }}
                    &#8594;
                    {{ subsystem }}
                    &#10060;
                    {{ incl_blocks }}</h9a><br><br>
                <h9a>Данные отсутствуют</h9a><br><br><br>
            {% endif %}
        {% endif %}
        <div class="container text-center mb-5">
            <div class="mt-sm-3 mb-sm-5">
                <div class="container mb-5 table-responsive">
                    {% if cable_list %}
                        <table
                                id="Table"
                                class="table table-hover table-bordered table-sm"
                                data-toggle="table"
                                data-pagination="true"
                                data-search="true"
                                data-show-pagination-switch="true"
                                data-show-refresh="true"
                                data-show-toggle="true"
                                data-show-columns="true"
                                data-show-fullscreen="true"
                                data-buttons-prefix="btn-sm btn"
                                data-buttons-attribute-title="data-hint"
                                data-search-align="left"
                                data-toolbar="#toolbar"
                                data-loading-template="loadingTemplate"
                                data-show-print="true"
                        >
                        <thead>
                        <tr class="box-table-th">
                            <th class="align-middle" data-field="mine" data-sortable="true">Шахта</th>
                            <th class="align-middle" data-field="subsystem" data-sortable="true">Подсистема</th>
                            <th class="align-middle" data-field="track_from" data-sortable="true">Начало трассы</th>
                            <th class="align-middle" data-field="track_to" data-sortable="true">Конец трассы</th>
                            <th class="align-middle" data-field="inclined_blocks" data-sortable="true">Уклонный блок
                            </th>
                            <th class="align-middle" data-field="distance" data-sortable="true">Протяженность, м</th>
                            <th class="align-middle" data-field="cable" data-sortable="true">Кабель</th>
                            <th class="text-center align-middle" data-field="project_name" data-sortable="true">
                                Обозначение в проекте
                            </th>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for cable in cable_list %}
                        {% if cable.cable_magazine %}
                            <tr class="box-table-td">
                                <td class="align-middle">{{ cable.cable_magazine.number_mine.title }}</td>
                                <td class="align-middle">{{ cable.cable_magazine.subsystem.title }}</td>
                                <td class="align-middle">{{ cable.cable_magazine.track_from_box.title }}
                                    ({{ cable.cable_magazine.track_from_box.tunnel.title }})
                                </td>
                                {% if cable.cable_magazine.track_to_box.title %}
                                    <td class="align-middle">{{ cable.cable_magazine.track_to_box.title }}
                                        ({{ cable.cable_magazine.track_to_box.tunnel.title }})
                                    </td>
                                {% else %}
                                    <td class="align-middle">{{ cable.cable_magazine.track_to_phone.title }}
                                        ({{ cable.cable_magazine.track_to_phone.tunnel.title }})
                                    </td>
                                {% endif %}
                                <td class="align-middle">{{ cable.cable_magazine.inclined_blocks.title }}</td>
                                <td class="align-middle">{{ cable.cable_magazine.distance }}</td>
                                <td class="align-middle">{{ cable.cable_magazine.cable.title }}</td>
                                <td class="text-center align-middle">{{ cable.cable_magazine.name }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'mfss/includes/add_table_javascript.html' %}

{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}