{% extends 'mfss/base.html' %}
{% load crispy_forms_tags %}
{#{% load sass_tags %}#}
{% block content %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="get" action="" class="">
            <div class="row text-start mx-auto mt-4">
                <div class="col-sm">
                </div>
                <div class="col-sm card mb-4 box-shadow card_imad">
                    <div class="text-center">
                        <h4 class="my-0 font-weight-normal">
                            Выбор критерия
                        </h4>
                    </div>
                    <div class="card-body">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        {#                    {{ my_filter.form.as_p }}#}

                        <button type="submit" class="btn elem-button btn-md mx-2">
                            {#                            {% if object %}#}
                            {#                                Сохранить#}
                            {#                            {% else %}#}
                            Выполнить
                            {#                            {% endif %}#}
                        </button>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center">
        {% if mine is not None %}
            {% if object_list %}
                <h9>По критериям: {{ mine }} &#128073; {{ subsystem }} &#128073; {{ incl_blocks }} &#9989;</h9>
            {% else %}
                <h9a>По критериям: {{ mine }} &#128073; {{ subsystem }} &#10060; {{ incl_blocks }}</h9a><br><br>
                <h9a>Не верно указаны параметры или данные отсутствуют</h9a><br><br><br>
            {% endif %}
        {% endif %}
        {{ result }}
        <div class="container-xxl text-center mt-5 mb-5 table-responsive">
            {#                    <div class="mt-sm-5 mb-sm-5 radius_card">#}
            {#                        <div class="container mt-5 mb-5">#}
            {% if object_list %}
                {#                                <table class="table-sm contentTable">#}

                <table class="table table-hover">
                <tr class="table-active">
                    <th>Шахта</th>
                    <th>Подсистема</th>
                    <th>Выработка</th>
                    <th>Уклонный блок</th>
                    <th>Пикет</th>
                    <th>Оборудование</th>
                    <th>Обозначение в проекте</th>
                </tr>
            {% endif %}
            {% for object in object_list %}
                {% if object.equipment_install %}
                    <tr>
                        {% if object.equipment_install.point_phone %}
                            <td>{{ object.equipment_install.point_phone.number_mine.title }}</td>
                        {% elif object.equipment_install.branches_box %}
                            <td>{{ object.equipment_install.branches_box.number_mine.title }}</td>
                        {% else %}
                            <td>{{ object.equipment_install.number_mine.title }}</td>
                        {% endif %}

                        <td>{{ object.equipment_install.subsystem.title }}</td>

                        {% if object.equipment_install.point_phone %}
                            <td>{{ object.equipment_install.point_phone.tunnel.title }}</td>
                        {% elif object.equipment_install.branches_box %}
                            <td>{{ object.equipment_install.branches_box.tunnel.title }}</td>
                        {% else %}
                            <td>{{ object.equipment_install.tunnel.title }}</td>
                        {% endif %}

                        {% if object.equipment_install.point_phone %}
                            <td>{{ object.equipment_install.point_phone.inclined_blocks.title }}</td>
                        {% elif object.equipment_install.branches_box %}
                            <td>{{ object.equipment_install.branches_box.inclined_blocks.title }}</td>
                        {% else %}
                            <td>{{ object.equipment_install.inclined_blocks.title }}</td>
                        {% endif %}

                        {% if object.equipment_install.point_phone %}
                            <td>{{ object.equipment_install.point_phone.picket }}</td>
                        {% elif object.equipment_install.branches_box %}
                            <td>{{ object.equipment_install.branches_box.picket }}</td>
                        {% else %}
                            <td>{{ object.equipment_install.picket }}</td>
                        {% endif %}

                        {% if object.equipment_install.point_phone %}
                            <td>{{ object.equipment_install.title }}(АН {{ object.equipment_install.point_phone.subscriber_number }})
                            </td>
                        {% else %}
                            <td>{{ object.equipment_install.title }}</td>
                        {% endif %}
                        <td>{{ object.equipment_install.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </div>
    </div>
    {#    </div>#}
    <div class="container">
    </div>
    <div class="container">
    </div>
    {#    </div>#}
    {#    <table class="contentTable">#}
    {#        <tr class="contentTableHeader">#}
    {#            <th>Шахта</th>#}
    {#            <th>Подсистема</th>#}
    {#            <th>Выработка</th>#}
    {#            <th>Уклонный блок</th>#}
    {##}
    {#            <th>Пикет</th>#}
    {#            <th>Оборудование</th>#}
    {#            <th>Обозначение в проекте</th>#}
    {#        </tr>#}
    {#    </table>#}

{% endblock %}