{% extends 'mfss/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'mfss/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="" class="">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 card mb-3 box-shadow border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">

                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="table-primary">
                    <tr class="table-active text-center">
                        <th class="align-middle">Точка телефонии</th>
                        <th class="align-middle">Номер</th>
                        <th class="align-middle">Нефтешахта</th>
                        <th class="align-middle">Уклонный блок</th>
                        <th class="align-middle">Выработка</th>
                        <th class="align-middle">Пикет</th>
                        <th class="align-middle">Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pointphone in pointphone_list %}
{#                        {% if equipment_file.title != 'Все оборудование' %}#}
                            <tr>
                            <td class="align-middle">{{ pointphone.title }}</td>
                            <td class="align-middle">{{ pointphone.subscriber_number }}</td>
                            <td class="align-middle">{{ pointphone.number_mine }}</td>
                        {% if pointphone.inclined_blocks %}
                            <td class="align-middle">{{ pointphone.inclined_blocks }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                        {% if pointphone.tunnel %}
                            <td class="align-middle">{{ pointphone.tunnel }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                        {% if pointphone.picket %}
                            <td class="align-middle text-center">{{ pointphone.picket }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                            <td class="align-middle">{{ pointphone.description }}</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            </div>

{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}