{% extends 'mfss/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'mfss/includes/navbar_home.html' %}
{% endblock %}
{% block content %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col text-start">
            <a href="{% url 'mfss:project_equipment' %}" class="btn nsh-button" type="button">Оборудование
            </a>
        </div>
        <div class="col pe-auto">
            <a href="{% url 'mfss:project_cable' %}" class="btn nsh-button" type="button">Кабель
            </a>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="get">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow card-imad-auth border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Выбор критерия
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md mx-2">
                            Выполнить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="container text-center">
                {% if mine is not None %}
                    {% if object_list %}
                        <h9>По критериям: {{ mine }} ➡️ {{ subsystem }} &#9989;</h9>
                    {% else %}
                        <h9a>По критериям: {{ mine }} ➡️ {{ subsystem }} &#10060;</h9a><br><br>
                        <h9a>Не верно указаны параметры или данные отсутствуют</h9a><br><br><br>
                    {% endif %}
                {% endif %}
                {#                {{ result }}#}
                <div class="container text-center mt-5 mb-5">
                    <div class="mt-sm-5 mb-sm-5">
                        <div class="container mt-5 mb-5 table-responsive">
                            {% if object_list %}
                                <table class="table table-hover">
                                <thead class="table-primary">
                                <tr class="table-active box-table-th">
                                    <th>Нефтешахта</th>
                                    <th>Подсистема</th>
                                    <th>Оборудование</th>
                                    <th>Обозн. в проекте</th>
                                    <th>Выработка</th>
                                    <th>Уклонный блок</th>
                                    <th>Установлено</th>
                                </tr>
                                </thead>
                                <tbody>
                            {% endif %}
                            {% for object in project_equipment_list %}
                                {% if object.title %}
                                    <tr class="box-table-td">
                                        {#                                        <td>{{ object.number_mine.title }}</td>#}
                                        <td>{{ object.number_mine.title }}</td>
                                        <td>{{ object.subsystem.title }}
                                        <td>{{ object.title.title }}
                                            {% if object.point_phone %}
                                                <td>{{ object.point_phone.title }}(АН{{ object.point_phone.subscriber_number }})</td>
                                            {% else %}
                                                <td>{{ object.name }}
                                            {% endif %}
                                            {% if object.point_phone %}
                                                <td>{{ object.point_phone.tunnel.title }}(ПК{{ object.picket }})</td>
                                            {% elif  object.branches_box %}
                                                <td>{{ object.branches_box.tunnel.title }}(ПК{{ object.picket }})</td>
                                            {% else %}
                                                <td>{{ object.tunnel.title }}(ПК{{ object.picket }})</td>
                                            {% endif %}
                                        <td>{{ object.inclined_blocks.title }}</td>
                                        {% if object.equipment_bool.execution_bool == True %}
                                            <td class="text-center">&#9989;</td>
                                        {% else %}
                                            <td class="text-center">&#128500;</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    {#    </div>#}
    <div class="container">
    </div>
    <div class="container">
    </div>
{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}

