{% extends 'mfss/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'mfss/includes/navbar_home.html' %}
{% endblock %}

{% block content %}
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="{% url 'mfss:quantity_equipment_cable' %}">
            <div class="row text-center mx-auto mt-4 mb-sm-1">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow card-imad-auth border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Фильтр
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </form>
    </div>

    <div class="container ">
        <div class="row mx-auto">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 mx-5">
                {% if mine is not None %}
                    <h9>Нефтешахта: {{ mine }}</h9><br>
                    {% if equipment %}
                        <h9>Оборудование: {{ equipment }}</h9><br>
                    {% elif cable %}
                        <h9>Кабель: {{ cable }}</h9><br>
                    {% endif %}
                    {% if equipment %}
                        <h9>Количество: {{ quantity }} шт.</h9>
                    {% elif cable %}
                        <h9>Количество: {{ total_length }} м.</h9>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}

