html, body {
  height: 100%; /* Задаем высоту всей страницы */
}

body {
  font-family: Manrope, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  //background: radial-gradient(circle, #ffffff, #ffffff, #f7f7fa, #d0c8c8);
  background: #f7f7fa;
  //background: radial-gradient(circle, #ffffff, #ffffff, #f7f7fa, #df1717);
  //background:  #ffffff;
  padding: 0 10px;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  //height: 100%;
  //width: 100%;
  min-width: 320px;
  line-height: 1.3;
  display: flex;
  flex-direction: column; /* Flexbox для вертикальной структуры */
}

main {
  flex: 1; /* Динамическая часть страницы */
}

footer {
  //background: #fff;
  //padding: 0 5px;
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;

}

//select {
//  -webkit-appearance: none; /* Убираем стандартный стиль Chrome */
//  -moz-appearance: none; /* Убираем стандартный стиль Firefox */
//  appearance: none; /* Убираем стандартный стиль */
//  background-color: #f8f9fa; /* Цвет фона */
//  color: #000; /* Цвет текста */
//  border: 1px solid #ced4da; /* Цвет границы */
//  border-radius: 0.25rem; /* Скругление углов */
//  padding: 0.375rem 0.75rem; /* Внутренние отступы */
//  font-size: 1rem; /* Размер шрифта */
//}
//
///* Изменение цвета выделения текста */
//select option {
//  background-color: #ffffff !important; /* Цвет фона */
//  color: #000000!important; /* Цвет текста */
//}
//
///* Изменение цвета при фокусе */
//select:focus option {
//  background-color: #ffffff !important; /* Цвет фона при фокусе */
//  color: #ffffff !important; /* Цвет текста при фокусе */
//}

//h3 {
//  //margin: 01px;
//  //font-family: "Paytone One", cursive;
//  //color: #5b5bef;
//  //text-transform: none;
//  letter-spacing: -1px;
//}

//h3 span {
//  display: block;
//  margin: 11px 0 17px 0;
//  font-size: 30px;
//  line-height: 30px;
//  color: #000000;
//  text-shadow: 0 1.36px 4.896px #1e1d1d, 0 -1px 4px #ffffff;
//  letter-spacing: -1px;
//}

h3 {
  font-size: 18px;
  margin: 0 0 16px
}

h4 {
  margin: 20px;
  //#font-family: "Paytone One", cursive;
  color: #020000;
  text-transform: none;
  letter-spacing: -1px;
}

h4 span {
  display: block;
  margin: 11px 0 17px 5px;
  font-size: 35px;
  line-height: 40px;
  color: #21217f;
  text-shadow: 0 7.36px 8.896px #8e8ef3, 0 -2px 1px #f3f3fa;
  letter-spacing: -1px;
}

h2 {
  margin: 20px;
  font-family: "Paytone One", cursive;
  color: #202020;
  text-transform: none;
  letter-spacing: -1px;
}

h2 span {
  display: block;
  margin: 11px 0 17px 5px;
  font-size: 35px;
  line-height: 40px;
  color: #21217f;
  text-shadow: 0 7.36px 8.896px #8e8ef3, 0 -2px 1px #f3f3fa;
  letter-spacing: -1px;
}

h7 {
  font-size: 60px;
  //background: rgba(109, 55, 255, .3);
  //color: #ffffff;
  //padding: 4px;
  //border-radius: 15px 15px 15px 15px;
  //line-height: 40px;
  //display: flex;
  justify-content: center;
  //text-align: center;
  align-items: center;
  margin: auto;
  //cursor: default;
  font-weight: 550;
}


h7a {
  font-size: 40px;
  //background: rgba(109, 55, 255, .3);
  //color: #ffffff;
  //padding: 4px;
  //border-radius: 15px 15px 15px 15px;
  //line-height: 40px;
  //display: flex;
  justify-content: center;
  //text-align: center;
  align-items: center;
  margin: auto;
  //cursor: default;
  font-weight: 300;
}

section h7 {
  font-size: calc(1px + 1vw);
  //font-size: calc(1vw);
}

h8 {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 370;
}

h8a {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}

h8b {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}

h8c {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}

h8d {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}

h8e {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}

h9 {
  font-size: 23px;
  line-height: 42px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 370;
}

h9a {
  font-size: 25px;
  color: #ff0404;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 370;
}

h11 {
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 25px;

  cursor: default;
  font-weight: 300;
}

h10 {
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 370;
}

h14 {
  font-size: 18px;
  font-weight: 300;
}

hfy {
  font-size: 35px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 36px;
  cursor: default;
  font-weight: 200;
}


//.nav {
//  position: sticky;
//  top: 0;
//width: 100%; /* Шапка займёт всю ширину окна браузера */
//z-index: 1000; /* Высокое значение, чтобы шапка была всегда на первом плане */
//}

//.footer-container {
//  //background-color: #ffffff;
//  //background-size: 100%;
//  //background-color: #ffffff;
//  padding: 10px;
//  text-align: left;
//  margin: 5px;
//  //border-radius: 10px;
//
//  width: 100%;
//  max-width: 1270px;
//}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px; /* Отступ от текста */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #6d37ff; /* Цвет стрелки */
  transition: transform 0.3s ease; /* Плавное вращение */
}

.dropdown-custom[aria-expanded="true"] .arrow {
  transform: rotate(180deg); /* Поворачиваем стрелку вниз */
  //color: #6d37ff;
}

.navbar .nav-link:hover {
  color: #9579ff; /* Цвет текста при наведении */
}

//$table-bg-primary: #cfc3fd; // Новый цвет для primary
//@import "bootstrap";

.box-table-th {
  font-size: 13px;
}

.box-table-td {
  font-size: 13px;
}

.h7modal {
  font-size: 35px;
  //background: rgba(109, 55, 255, .3);
  //color: #ffffff;
  //padding: 4px;
  //border-radius: 15px 15px 15px 15px;
  //line-height: 40px;
  //display: flex;
  justify-content: left;
  //text-align: center;
  align-items: center;
  margin: auto;
  //cursor: default;
  font-weight: 200;
}

.footer-container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  background: #fff;
  //padding: 0 10px;
}

.navbar-my {
  background-color: #ffffff;
  //color: #e62e2e;
  padding: 0;
  border-radius: 20px 20px 20px 20px;
  font-size: 17px;
  //width: 100%;
}

.center-my {
  background: #ffffff;
  //height: auto;
  //background-size: 100% auto;
  //color: white;
  margin: 0;
  padding: 20px;
  //border-radius: 20px 20px 20px 20px;
  font-size: 17px;
  //align-items: center;
  //justify-content: center;
  text-align: center;

  //width: 100%;
  //height: 100%;
  min-width: 100%;
  //min-height: 100%;
  position: relative;
  //top: 0;
  //left: 0;
  //display: flex;
  //overflow: auto;
  //width: 100%;
}

.block-white {
  background: #ffffff;
  //background-size:  contain;
  //  height: auto;
  margin: 0;
  padding: 15px;
  border-radius: 20px 20px 20px 20px;
  font-size: 25px;

}

.block-all-white {
  background: #ffffff;
  //background-size:  contain;
  //  height: auto;
  margin: 0;
  padding: 15px;
  //border-radius: 20px 20px 20px 20px;
  font-size: 25px;
  //padding: 1em;
  //height: 10em;
  //display: flex;
  //align-items: center;
  //justify-content: center

}

.block-all-grey {
  margin: 0;
  padding: 5px;
  font-size: 25px;
}

.card-grey {
  background: #f6f6f6;
  text-align: center;
}

.card-white {
  background: #ffffff;
  text-align: center;
}

.col-grey {
  background: #f6f6f6;
}

$primary-color: #9579ff;
$hover-color: #dfd5fd;
$text-color: #000;

.table.table > {
  thead > {
    tr.table-start-row {
      background-color: $primary-color !important;
      color: $text-color !important;

      &:hover {
        background-color: $hover-color !important;
        cursor: pointer;
      }
    }
  }
}

.card-radius {
  border-radius: 20px 20px 20px 20px;
  border: none;
}

.border-none {
  border: none; /* Убираем рамку */
}


.navbar-st {
  position: sticky;
  top: 0;
  z-index: 1000;
  //left: 0;
  //bottom: 100px;
  //right: 50px;
}

.high-text {
  font-size: 150%;
  font-style: italic;
}


.hellow {
  text-align: center
}

.h3-block-card-head {
  color: #1e0e46;
  font-size: 24px;
  line-height: 30px;
  font-weight: 450;
  margin-bottom: 20px;
  height: 40px;
  cursor: default;
}

.h3-block-card-footer {
  font-size: 18px;
  line-height: 22px;
  color: #666174;
  cursor: default;
}

.text_footer {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 5px;
  color: #666174
}

.card_imad {
  background-size: 50vh;
  margin: 0;
  //background: radial-gradient(circle, #f1f6fb, #f7fafd, #f6f6ff, #f6f6fa);
  background: #f7f7fa;
  //background: radial-gradient(circle, #373737, #373737, #373737, #373737);
  //color: #f3f3f6;
  border-radius: 20px 20px 20px 20px;
  text-shadow: 0 3px 4px #8e8ef3, 0 -1px 1px #f3f3fa;
  //letter-spacing: -1px;
}

.card-imad-auth {
  background-size: 60vh;
  margin: 0;
  //background: radial-gradient(circle, #f1f6fb, #f7fafd, #f6f6ff, #f6f6fa);
  background: #ffffff;
  //background: radial-gradient(circle, #373737, #373737, #373737, #373737);
  //color: #f3f3f6;
  border-radius: 20px 20px 20px 20px;
  //text-shadow: 0 2px 10px #8e8ef3, 0 -1px 1px #f3f3fa;
  //letter-spacing: -1px;
}

.card_table {
  background-size: 50vh;
  background: #f7f7fa;
  color: #000000;
  text-shadow: 0 3px 4px #8e8ef3, 0 -1px 1px #f3f3fa;
  //letter-spacing: -0.5px;
  font-size: 17px;
  line-height: 20px;
  //text-align: center;
  //margin: 0 0 2px;
  margin: 0;
  //cursor: default;
  font-weight: 500;
}

//table {
//    width: 100%; /* Ширина таблицы */
//    border-collapse: collapse; /*  Убираем двойные линии между ячейками */
//   }
//   td, th {
//    padding: 4px; /* Поля в ячейках */
//    border: 1px solid #000080; /* Граница между ячейками */
//   }
//   th {
//    background: #000080; /* Цвет фона строки заголовка */
//    color: #ffe; /* Цвет текста */
//    text-align: left; /* Выравнивание по левому краю */
//    font-family: Arial, Helvetica, sans-serif; /* Выбор гарнитуры */
//    font-size: 0.9em; /* Размер текста */
//   }

.contentTable {
  //background-size: 50vh;
  margin: 0;
  padding-top: 10mm;
  table-layout: auto;
  width: 100%;
  max-width: 100%;

  //text-shadow: 0 3px 4px #8e8ef3, 0 -1px 1px #f3f3fa;
  border-collapse: collapse;
  overflow: hidden;
  //border-right:0;
  //overflow: hidden;
  //border-radius: 10px;
}

.contentTable th {
  //background: #f7f7fa;
  //    background-color: #ffffff;
  font-size: medium;
  border: 1px solid rgba(25, 25, 44, 0.36);
  //border-right:0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;

}

.contentTable td {
  background-color: #ffffff;
  font-size: 15px;
  border: 1px solid rgba(218, 219, 220, 0.79);
  border-right: 0;
  border-left: 0;

}

.contentTableHeader {
  //background-color: #6d37ff;
  background-color: #6d37ff;
  color: azure;
}

.card_head {
  //background-size: 50vh;
  background: #6d37ff;
  color: #ffe;
  //text-shadow: 0 3px 4px #8e8ef3, 0 -1px 1px #f3f3fa;
  ////letter-spacing: -0.5px;
  //font-size: 17px;
  //line-height: 20px;
  ////text-align: center;
  ////margin: 0 0 2px;
  //margin: 0;
  ////cursor: default;
  //font-weight: 500;
}

.anon {
  background-size: 100vh;
  font-family: "Paytone One", cursive;
  margin: 0;
  //{#background: radial-gradient(circle, #ffffff, #eceff8, #edf2fd, #cdd8f6);#}
  color: #f10303;
  text-shadow: 0 7.36px 8.896px #4141f1, 0 -2px 1px #f9f9fb;
  letter-spacing: -1px;
}

.zoom-effect {
  transform: scale(1.2);
}

//{#.face-image {#}
//{#    width: 206px;#}
//{#    height: 268px;#}
//{#background: url(img/face.png); margin: 0 100px 0 100px;#}

//.text-center {
//
//}

.blurred-block {
  display: flex;
  width: 48px;
  height: 100px;
  background: rgba(119, 119, 255, 0.5);
  backdrop-filter: blur(200px);
  border-radius: 20px;
  margin: 30px 0 0 152px;
}

.scale {
  transition: 1s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.6); /* Увеличиваем масштаб */
}

.elem-button {
  background: #6d37ff;
  border: 1px solid #6d37ff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  height: 42px;
  font-size: 14px;
  min-width: 130px;
  outline: none;
  padding: 12px 30px;
  transition: .2s;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1
}

.elem-button {
  color: #fff !important;
  //display: flex;
  align-items: center;
  justify-content: center
}

.elem-button--no-margin {
  margin: 0
}

.elem-button--input {
  padding: 16px 16px
}

.elem-button:disabled {
  background: #926aff;
  border: 1px solid #926aff;
  //cursor: default;
  opacity: 1
}

//.elem-button:disabled:hover, .elem-button:disabled:focus, .elem-button:disabled:active {
//  background: #926aff;
//  border: 1px solid #926aff;
//  box-shadow: 0 0 0 4px #cbd6ee;
//}

.elem-button:hover {
  background: #4f11f8;
  border: 1px solid #4f11f8;
}

.elem-button:focus {
  outline: none;
  box-shadow: none
}

//.elem-button:active {
//  background: #4f11f8;
//  border: 1px solid #4f11f8;
//}

.nsh-button {
  background: #6d37ff;
  border: 1px solid #6d37ff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  height: 42px; //высота кнопки
  font-size: 19px; // размер шрифта
  min-width: 130px;
  outline: none;
  padding: 12px 15px;
  transition: .2s;
  text-align: center;
  //display: inline-block;
  //box-sizing: border-box;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nsh-button {
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center
}

.nsh-button--no-margin {
  margin: 0
}

.nsh-button--input {
  padding: 10px 16px
}

.nsh-button:disabled {
  background: #926aff;
  border: 1px solid #926aff;
  cursor: default;
  opacity: 1
}

.nsh-button:disabled:hover, .nsh-button:disabled:focus, .nsh-button:disabled:active {
  background: #6d37ff;
  border: 1px solid #6d37ff;
  box-shadow: none
}

.color-text-violet {
  color: #6d37ff;
  font-size: 17px;
}

.underline-none {
  text-decoration: none;
}

.nsh-button:hover, .nsh-button:focus, .nsh-button:active {
  background: #4f11f8;
  border: 1px solid #4f11f8;
}

//a {
//    cursor: pointer;
//    text-decoration: none
//}


//section h8 {
//  font-size: calc(5px + 2vw);
//  //font-size: calc(1vw);
//}

//selector {
//  background-image: url("../images/fon_mramor_black.jpg");
//}

.image-container {
  width: 1000px;
  height: 566.6px;
  text-align: center;
  //background-image: url("../images/white_fon.jpg");
  //border-radius: 60px 60px 60px 60px;
  //background-size: contain;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //background-size: cover; /* размер одного повторяющегося изображения */
}

.radius_card {
  border-radius: 60px 60px 60px 60px;
  border-collapse: collapse;
}


/* Стили для больших экранов */
//h8 { width: 80%; margin: 0 auto; }

/* Стили для маленьких экранов */
//@media (max-width: 1200px) {
//  h8 { display: none; }
//}

.register_done {
  height: 100px;
  width: 125px;
  margin: 20px;
}

//.parent {
//    width: 100%;
//    height: 100%;
//    position: fixed;
//    top: 0;
//    left: 0;
//    overflow: auto;
//}
//
//.block {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//
//    img {
//        display: block;
//    }
//}


@media (max-width: 1023px) {
  h7 {
    font-size: 50px;
  }
}

@media (max-width: 534px) {
  h7 {
    font-size: 40px;
  }
}

@media (max-width: 448px) {
  h7 {
    font-size: 35px;
  }
}

@media (max-width: 401px) {
  h7 {
    font-size: 33px;
  }
}

@media (max-width: 1023px) {
  h7a {
    font-size: 33px;
  }
}

@media (max-width: 534px) {
  h7a {
    font-size: 27px;
  }
}

@media (max-width: 448px) {
  h7a {
    font-size: 23px;
  }
}

@media (max-width: 401px) {
  h7a {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h8a {
    display: none;
  }
}

@media (max-width: 991px) {
  h8b {
    display: none;
  }
}

@media (max-width: 991px) {
  h8c {
    display: none;
  }
}

@media (max-width: 1199px) {
  h8d {
    display: none;
  }
}

@media (max-width: 767px) {
  h8e {
    display: none;
  }
}

@media (max-width: 767px) {
  h8 {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  h8 {
    font-size: 25px;
  }
}

@media (max-width: 1023px) {
  h9 {
    font-size: 21px;
  }
}

@media (max-width: 534px) {
  h9 {
    font-size: 19px;
  }
}

@media (max-width: 448px) {
  h9 {
    font-size: 17px;
  }
}

@media (max-width: 401px) {
  h9 {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .image-container {
    width: 700px;
    height: 397px;
    text-align: center;
  }
}

@media (max-width: 1120px) {
  .image-container {
    width: 675px;
    height: 383px;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .image-container {
    width: 650px;
    height: 368.5px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .image-container {
    width: 500px;
    height: 283px;
    text-align: center;
  }
}

@media (max-width: 581px) {
  .image-container {
    width: 450px;
    height: 255px;
    text-align: center;
  }
}

@media (max-width: 535px) {
  .image-container {
    width: 400px;
    height: 227px;
    text-align: center;
  }
}

@media (max-width: 487px) {
  .image-container {
    width: 320px;
    height: 181.4px;
    text-align: center;
  }
}

@media (max-width: 1400px) {
  a {
    button {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

/* Обводка с градиентом */
.icons--gradient .icon {
  stroke-width: 9;
  stroke: url(#stripes);
}

footer-auth {
  //position: fixed;
  background: #ffffff;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

navbar-auth {
  position: fixed;
  background: #ffffff;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

//.app-public-footer-auth.footer-container-auth {
//  background: #d51a1a;
//    max-width: 100%;
//    margin: 0 auto;
//}

.footer-auth {
  height: 70px;
  padding: 15px;
  //display: flex;
  //flex-direction: row;
  font-size: 17px;
  align-items: center;
  border-top: 1px solid #f7f6fa;
}

.navbar-auth {
  height: 60px;
  padding: 15px;
  //display: flex;
  //flex-direction: row;
  font-size: 17px;
  align-items: center;
  border-top: 1px solid #f7f6fa;
}

.margin-auth-block {
  margin-top: 65px;
  //height: 100%;
  //position: absolute;
  //top: 0;
  //left: 0;
  //overflow: auto;
}

.nav-auth-block {
  margin-right: 20px;
}

.nav-auth-user {
  margin-bottom: -11px;
}

//
//.block-auth {
//    width: 1150px;
//    height: 250px;
//    position: absolute;
//    top: 200px;
//    right: 0;
//    bottom: 0;
//    left: 250px;
//    margin: auto;
//}





