{% load static %}
<div class="container navbar-st">
    <div class="container-xxl mt-3">
        <nav class="navbar navbar-expand-lg navbar-light navbar-my">
            <div class="container-fluid nav-auth-block">
                <a class="navbar-brand" href="{% url "mfss:home" %}">
                    <h4 >
                        ĩnfoMFS&#350;
                    </h4>
                </a>
                <div class="color-text-violet text-right ms-0 parent-auth-nav">
                    <a class="color-text-violet underline-none block-auth-nav" href="{% url "users:register" %}"
                    >Регистрация</a>
                </div>
            </div>
        </nav>
    </div>
</div>
