{% load static %}
{#<div class="footer-container-auth">#}
    <footer-auth class="footer-auth">
        <div class="row">
            <div class="col text-end">
                <small class="d-block mb-3 text-muted">&copy; 2024 ОП Ярега ООО "ДГС"</small>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col color-text-violet">
{#                <small class="d-block mb-3 text-muted">Обратная связь</small>#}
                <a class="color-text-violet underline-none" href="https://t.me/Alexandr_habit_bot">Обратная связь</a>
            </div>
        </div>

    </footer-auth>
{#</div>#}

{#<div class="container">#}
{#    <footer>#}
{#        <div class="row">#}
{#            <div class="col-6 text-left">#}
{#                <small class="d-block mb-3 text-muted">&copy; 2024 ОП Ярега ООО "ДГС"</small>#}
{#            </div>#}
{#            <div class="col-6 text-left">#}
{#                <small class="d-block mb-3 text-right">&copy; 2024 ОП Ярега ООО "ДГС"</small>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}

{#</footer>#}


