<!-- Подключение Bootstrap Table CSS -->
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/placeholder-loading@0.6.0/dist/css/placeholder-loading.min.css">
<link rel="stylesheet" href="https://unpkg.com/hint-css.js@1.4.0/src/hint-css.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<style>
    .ph-item,
    .ph-picture {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #toolbar {
        margin: 0;
    }
</style>