{% load static %}

{#<div class="d-lg-flex">#}
<header>
{#    <div class="container-xxl mt-3">#}
        <nav class="navbar navbar-expand-lg navbar-light nav">
            <div class="container-fluid nav">
                <a class="navbar-brand ">
                    <h4>
                        ĩnfoMFS&#350;
                    </h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active font-size" aria-current="page" href="{% url 'mfss:home' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#7777ff"
                                     class="bi bi-house-door" viewBox="0 0 16 16">
                                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"></path>
                                </svg>
                                Главная
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#7777ff"
                                     class="bi bi-hand-index" viewBox="0 0 16 16">
                                    <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025"></path>
                                </svg>
                                Возможности
                            </a>
                            {#                    <li class="nav-item dropdown">#}
                            <ul class="dropdown-menu">
                                {#                            <li><a class="dropdown-item" href="{% url 'habit_app:options_create' %}">Создать привычку</a>#}
                                <li><a class="dropdown-item" href="#">Создать привычку</a>
                                </li>
                                {#                            <li><a class="dropdown-item" href="{% url 'habit_app:options_list' %}">Все ваши привычки</a>#}
                                <li><a class="dropdown-item" href="#">Все ваши привычки</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-grid gap-2 d-md-flex justify-content-end me-4">
                        {% if user.is_authenticated %}
                            <svg width="35" height="35" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#70bf2b"
                                      d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"></path>
                            </svg>
                            {#                        <a href="{% url "users:profile" %}" class="btn btn-outline-light btn-md mx-2 elem">#}
                            <a href="" class="btn btn-outline-light btn-md mx-2 elem">

                                {#                            {{ user.first_name }} {{ user.last_name }}#}
                            </a>
                            {#                        <form method="post" action="{% url "users:logout" %}">#}
                            <form method="post" action="#">
                                {% csrf_token %}
                                <button class="btn btn-outline-light btn-md elem" type="submit">Выход

                                </button>
                            </form>
                        {% else %}
                            {#                        <p href="#" class="anon text-center">#}
                            {#                            Анонимный пользователь#}
                            {#                        </p>#}
                            {#                        <a href="{% url "users:login" %}" class="btn btn-outline-light btn-md mx-2 elem"#}
                            {#                        <a href=#" class="btn btn-outline-light btn-md mx-2 elem"#}
                            {#                        >Вход</a>#}
                            {#                        <a href="{% url "users:register" %}" class="btn btn-outline-light btn-md elem"#}
                            {#                        <a href="#" class="btn btn-outline-light btn-md elem"#}
                            <body class="p-3 m-0 border-0 bd-example m-0 border-0">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                {#                        <a href="#" class="btn btn-primary me-md-2"#}
                                <button class="btn btn-primary me-md-2" type="button">Войти</button>
                                {#                        >Войти#}

                                {#                        </a>#}
                            </div>
                            </body>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{#</div>#}