{% load static %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row align-items-start">
                <div class="col-xxl-3">
                    <h5 class="text_footer">ĩnfoMFS&#350;</h5>
                    <ul class="list-unstyled text-left">
                        <li><small class="d-block mb-3 text-muted" href="#">MultiFunctionalSafetySystem</small></li>
                    </ul>
                </div>
                <div class="col-xxl-3 justify-content-sm-start">
                    <h5 class="text-end">Компания</h5>
                    <ul class="list-unstyled text-end">
                        <li><a class="text-muted" href="https://t.me/Alexandr_habit_bot">О компании</a></li>
                        {#                    <li><a class="text-muted" href="https://trends.rbc.ru/trends/social/636e40469a79470a18d08ed1">#}
                        {#                        Что такое трекер привычек и как с помощью него тренировать силу воли</a>#}
                        {#                    </li>#}
                        <li><a class="text-muted" href="http://127.0.0.1:8000/redoc/">Контакты
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xxl-3 justify-content-sm-start">
                    <h5 class="text-end">Компания</h5>
                    <ul class="list-unstyled text-end">
                        <li><a class="text-muted" href="https://t.me/Alexandr_habit_bot">О компании</a></li>
                        <li><a class="text-muted" href="http://127.0.0.1:8000/redoc/">Контакты
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xxl-3 justify-content-sm-start">
                    <h5 class="text-end">Категории</h5>
                    <ul class="list-unstyled text-end">
                        <li><a class="text-muted" href="https://t.me/Alexandr_habit_bot">Телеграм бот</a></li>
                        <li><a class="text-muted" href="http://127.0.0.1:8000/redoc/">
                            Документация REST API</a>
                        </li>
                    </ul>
                </div>
            </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 text-left">
                <small class="d-block mb-3 text-muted">&copy; 2024 ОП Ярега ООО "ДГС"</small>
            </div>
        </div>
    </footer>
</footer>

