{% load static %}
{% load sass_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Александр Струльков">
    <title>Информационный ресурс</title>
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
    {#    <!-- Navbar __>#}
    {% block navbar %}
    {% include 'users/includes/auth_navbar.html' %}
    {% endblock %}

    {#    <!_-- Main content __>#}
    <main>
    {% block content %}
        {#    Сюда вставляются все остальные файлы HTML#}
    {% endblock %}
    </main>

    {#    <!_-- Footer __>#}
    {% block footer %}
    {% include 'users/includes/auth_footer.html' %}
    {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
{#<script src={% static "js/bootstrap.bundle.min.js" %}></script>#}
</body>

</html>