{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container margin-auth-block">
        <form method="post">
            <div class="row text-start mx-auto mt-4 mb-sm-5">
                <div class="col-sm">
                </div>
                <div class="col-sm-6 card mb-5 box-shadow card-imad-auth border-none">
                    <div class="card-body mb-3 mt-3">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md mx-2">
                            Сбросить по E-mail
                        </button>
{#                        <a class="ms-5" href="{% url 'users:profile_edit' %}">Сбросить по E-mail</a>#}
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </form>
    </div>
{% endblock %}