{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'users/includes/auth_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container margin-auth-block">
        <form method="post">
            <div class="row mx-auto mt-sm-4 mb-sm-4">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 card mb-4 box-shadow card-imad-auth border-none">
                    <div class="card-body mb-3 mt-3">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn elem-button btn-md mx-2">
                                    Изменить данные
                                </button>
                            </div>
                            <div class="col text-end mt-3">
                                <a class="color-text-violet underline-none text-end"
                                   href="{% url 'users:profile_edit' %}">Сменить пароль</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}