{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="{% url 'mfss:box' %}">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Фильтр
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </form>
    </div>


    <div class="container text-center">
        {% if mine is not None %}
            {% if box_list %}
                <h9>{{ mine }}
                    &#8594;
                    {{ subsystem }}
                    &#8594;
                    {{ incl_blocks }} &#9989;
                </h9>
            {% else %}
                <h9a>{{ mine }}
                    &#8594;
                    {{ subsystem }}
                    &#10060;
                    {{ incl_blocks }}</h9a><br><br>
                <h9a>Данные отсутствуют</h9a><br><br><br>
            {% endif %}
        {% endif %}
        <div class="container text-center mb-5">
            <div class="mt-sm-3 mb-sm-5">
                <div class="container mb-5 table-responsive">
                    {% if box_list %}
                        <table
                                id="Table"
                                class="table table-hover table-bordered table-sm"
                                data-toggle="table"
                                data-pagination="true"
                                data-search="true"
                                data-show-pagination-switch="true"
                                data-show-refresh="true"
                                data-show-toggle="true"
                                data-show-columns="true"
                                data-show-fullscreen="true"
                                data-buttons-prefix="btn-sm btn"
                                data-buttons-attribute-title="data-hint"
                                data-search-align="left"
                                data-toolbar="#toolbar"
                                data-loading-template="loadingTemplate"
                                data-show-print="true"
                        >
                        <thead>
                        <tr class="box-table-th">
                            <th class="align-middle" data-field="subsystem" data-sortable="true">Подсистема</th>
                            <th class="align-middle" data-field="number_mine" data-sortable="true">Нефтешахта</th>
                            <th class="align-middle" data-field="title" data-sortable="true">Обозначение</th>
                            <th class="align-middle" data-field="description" data-sortable="true">Описание</th>
                            <th class="align-middle" data-field="tunnel" data-sortable="true">Место монтажа</th>
                            <th class="align-middle" data-field="equipment" data-sortable="true">Подключенное оборудование</th>
                            <th class="align-middle" data-field="name" data-sortable="true">Обозначение</th>
                            <th class="align-middle" data-field="tunnel" data-sortable="true">Место монтажа</th>
                            <th class="align-middle" data-field="equipment_bool" data-sortable="true">Установлено</th>
                        </tr>
                        </thead>
                    {% endif %}
                    <tbody>
                    {% for box in box_list %}
                        {% if box.title %}
                            <tr class="box-table-td">
                                <td class="align-middle">{{ box.subsystem.title }}</td>
                                <td class="align-middle">{{ box.number_mine.title }}</td>
                                <td class="align-middle">{{ box.title }}</td>
                                <td class="align-middle">{{ box.description }}</td>
                                <td class="align-middle">{{ box.tunnel }} (ПК{{ box.picket }})</td>
                                {% if box.equipment.point_phone.subscriber_number %}
                                    <td class="align-middle">{{ box.equipment.title }}(А
                                        Н{{ box.equipment.point_phone.subscriber_number }})
                                    </td>
                                {% else %}
                                    <td class="align-middle">{{ box.equipment.title }}
                                {% endif %}
                                <td class="align-middle">{{ box.equipment.name }}</td>
                                {% if box.equipment.point_phone and box.equipment.inclined_blocks %}
                                    <td class="align-middle">{{ box.equipment.tunnel.title }}
                                        {{ box.equipment.inclined_blocks }} (ПК{{ box.equipment.picket }})
                                    </td>
                                {% elif box.equipment.point_phone and not box.equipment.inclined_blocks %}
                                    <td class="align-middle">{{ box.equipment.tunnel.title }}
                                        (ПК{{ box.equipment.picket }})
                                    </td>
                                {% elif box.equipment.branches_box and box.equipment.inclined_blocks%}
                                    <td class="align-middle">{{ box.equipment.tunnel.title }}
                                        {{ box.equipment.inclined_blocks }} (ПК{{ box.equipment.picket }})
                                    </td>
                                {% elif box.equipment.branches_box and not box.equipment.inclined_blocks%}
                                    <td class="align-middle">{{ box.equipment.tunnel.title }}
                                        (ПК{{ box.equipment.picket }})
                                    </td>
                                {% else %}
                                    <td class="align-middle">{{ box.equipment.tunnel.title }}
                                       (ПК{{ box.equipment.picket }})
                                    </td>
                                {% endif %}
                                {% if box.equipment.equipment_bool.execution_bool == True %}
                                    <td class="align-middle text-center">&#9989;</td>
                                {% else %}
                                    <td class="align-middle text-center">&#128500;</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}

