{% extends 'users/base.html' %}
{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}
{% block content %}
    <div class="container margin-auth-block">
        <form method="post">
            <div class="row text-start mx-auto mt-4 mb-sm-5">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 card mb-5 box-shadow card-imad-auth border-none">
                    <div class="card-body">
                        <h11 class="card-title mb-4 text-center">Свяжитесь с нами</h11>
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
{#                        <style>#}
{#                            label[for="id_captcha"] {#}
{#                                font-size: 20px;#}
{#                                color: darkblue;#}
{#                            }#}
{#                        </style>#}
                        {% crispy form %}
                        <div class="text-start mb-4">
                            <button type="submit" class="btn elem-button btn-md mx-2 pull-right">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}
