{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="" class="" enctype="multipart/form-data">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 card mb-3 box-shadow border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">

                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                <table
                        id="Table"
                        class="table table-hover table-bordered table-sm"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-pagination-switch="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-show-fullscreen="true"
                        data-buttons-prefix="btn-sm btn"
                        data-buttons-attribute-title="data-hint"
                        data-search-align="left"
                        data-toolbar="#toolbar"
                        data-loading-template="loadingTemplate"
                        data-show-print="true"
                >
                    <thead>
                    <tr class="box-table-th">
                        <th class="align-middle" data-sortable="true" data-width="470">Список оборудования</th>
                         <th class="align-middle" data-sortable="true">Список трасс кабелей</th>
{#                        <th class="align-middle text-center" data-width="110">Дата начала</th>#}
                        <th class="align-middle text-center" data-width="110">Дата начала</th>
                        <th class="align-middle text-center" data-width="110">Дата окончания</th>
                        <th class="align-middle text-center" data-width="110">Выполнено</th>
{#                        <th class="align-middle" data-sortable="true">Краткое описание</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for execution in execution_list %}
                        <tr class="box-table-td">
                        <td class="align-middle">{{ execution.equipment_install }}</td>
                        <td class="align-middle">{{ execution.cable_magazine }}</td>
                        <td class="align-middle">{{ execution.date_start|date:'d.m.Y' }}</td>
                        <td class="align-middle">{{ execution.date_end|date:'d.m.Y' }}</td>
                        {% if execution.execution_bool == True %}
                          <td class="align-middle text-center">&#9989;</td>
                        {% else %}
                        <td class="align-middle text-center">&#10060;</td>
{#                            <td class="align-middle text-center">&#128500;</td>#}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}