{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}
{#{% load sass_tags %}#}
{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col text-start">
            <a href="{% url 'mfss:equipment_file' %}" class="color-text-violet-contents underline-none"
               type="button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 1C1.44772 1 1 1.44772 1 2V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V2C15 1.44772 14.5523 1 14 1H9.5C8.94771 1 8.5 1.44772 8.5 2V9.29289L11.1464 6.64645C11.3417 6.45118 11.6583 6.45118 11.8536 6.64645C12.0488 6.84171 12.0488 7.15829 11.8536 7.35355L8.35355 10.8536C8.15829 11.0488 7.84171 11.0488 7.64645 10.8536L4.14645 7.35355C3.95118 7.15829 3.95118 6.84171 4.14645 6.64645C4.34171 6.45118 4.65829 6.45118 4.85355 6.64645L7.5 9.29289V2C7.5 0.895431 8.39543 0 9.5 0H14C15.1046 0 16 0.895431 16 2V14C16 15.1046 15.1046 16 14 16H2C0.89543 16 0 15.1046 0 14V2C0 0.895431 0.895431 0 2 0H4.5C4.77614 0 5 0.223858 5 0.5C5 0.776142 4.77614 1 4.5 1H2Z"/>
                </svg>
                Оборудование
            </a>
        </div>
        <div class="col text-end">
            <a href="{% url 'mfss:cable_file' %}" class="color-text-violet-contents underline-none"
               type="button">
                Кабель
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 1C1.44772 1 1 1.44772 1 2V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V2C15 1.44772 14.5523 1 14 1H9.5C8.94771 1 8.5 1.44772 8.5 2V9.29289L11.1464 6.64645C11.3417 6.45118 11.6583 6.45118 11.8536 6.64645C12.0488 6.84171 12.0488 7.15829 11.8536 7.35355L8.35355 10.8536C8.15829 11.0488 7.84171 11.0488 7.64645 10.8536L4.14645 7.35355C3.95118 7.15829 3.95118 6.84171 4.14645 6.64645C4.34171 6.45118 4.65829 6.45118 4.85355 6.64645L7.5 9.29289V2C7.5 0.895431 8.39543 0 9.5 0H14C15.1046 0 16 0.895431 16 2V14C16 15.1046 15.1046 16 14 16H2C0.89543 16 0 15.1046 0 14V2C0 0.895431 0.895431 0 2 0H4.5C4.77614 0 5 0.223858 5 0.5C5 0.776142 4.77614 1 4.5 1H2Z"/>
                </svg>
            </a>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                <table
                        id="Table"
                        class="table table-hover table-bordered table-sm"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-pagination-switch="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-show-fullscreen="true"
                        data-buttons-prefix="btn-sm btn"
                        data-buttons-attribute-title="data-hint"
                        data-search-align="left"
                        data-toolbar="#toolbar"
                        data-loading-template="loadingTemplate"
                        data-show-print="true"
                >
                    <thead >
                    <tr class="box-table-th">
                        <th class="align-middle" data-field="equipment" data-sortable="true">Оборудование</th>
                        <th class="align-middle" data-field="subsystem" data-sortable="true">Подсистема</th>
                        <th class="align-middle" data-field="description">Описание</th>
                        <th class="text-center text-danger data" data-field="file_pdf" data-width="110">Руководство</th>
                        <th class="text-center text-danger" data-field="file_passport" data-width="110">Паспорт</th>
                        <th class="text-center text-danger" data-field="file_certificate"
                            data-width="110">Сертификат</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment_file in equipment_file_list %}
                        {% if equipment_file.title != 'Все оборудование' %}
                            <tr class="box-table-td">
                            <td class="align-middle">{{ equipment_file.title }}</td>
                            <td class="align-middle">{{ equipment_file.subsystem }}</td>
                            <td class="align-middle">{{ equipment_file.description }}</td>

                            {% if equipment_file.file_pdf %}
                                <td class="text-center align-middle"><a class="btn!important btn-link!important" Style="color:#6d37ff;"
                                                                        href="{{ equipment_file.file_pdf.url }}">Просмотр</a>
                                </td>
                            {% else %}
                                <td class="text-center align-middle"><a>-</a></td>
                            {% endif %}

                            {% if equipment_file.file_passport %}
                                <td class="text-center align-middle"><a class="btn!important btn-link!important" Style="color:#6d37ff;"
                                                                        href="{{ equipment_file.file_passport.url }}">Просмотр</a>
                                </td>
                            {% else %}
                                <td class="text-center align-middle"><a>-</a></td>
                            {% endif %}

                            {% if equipment_filefile_certificate %}
                                <td class="text-center align-middle"><a class="btn!important btn-link!important" Style="color:#6d37ff;"
                                                                        href="{{ equipment_file.file_certificate.url }}">Просмотр</a>
                                </td>
                            {% else %}
                                <td class="text-center align-middle"><a>-</a></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}
