{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                <table
                        id="Table"
                        class="table table-hover table-bordered table-sm"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-pagination-switch="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-show-fullscreen="true"
                        data-buttons-prefix="btn-sm btn"
                        data-buttons-attribute-title="data-hint"
                        data-search-align="left"
                        data-toolbar="#toolbar"
                        data-loading-template="loadingTemplate"
                        data-show-print="true"
                >
                    <thead>
                    <tr class="box-table-th">
                        <th class="align-middle" data-sortable="true">Оборудование</th>
                         <th class="align-middle">Подсистема</th>
                        <th class="align-middle text-center" data-sortable="true">Нефтешахта</th>
                        <th class="align-middle text-center" data-width="110">Выработка</th>
                        <th class="align-middle text-center" data-width="110">Укл.блок</th>
                        <th class="align-middle" data-sortable="true">Обозн.в проекте</th>
                        <th class="align-middle" data-sortable="true">Точка телефонии</th>
                        <th class="align-middle" data-sortable="true" data-width="110">Распред.коробка</th>
                        <th class="align-middle text-center" data-width="110">Пикет</th>
                        <th class="text-center text-danger align-middle" data-width="110">Редактировать</th>
                        <th class="text-center text-danger align-middle" data-width="110">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment_installation in equipment_installation_list %}
                        <tr class="box-table-td">
                        <td class="align-middle">{{ equipment_installation.title }}</td>
                        <td class="align-middle">{{ equipment_installation.subsystem}}</td>
                        <td class="align-middle">{{ equipment_installation.number_mine }}</td>
                        <td class="align-middle">{{ equipment_installation.tunnel.title}}</td>
                        {% if equipment_installation.inclined_blocks != None %}
                        <td class="align-middle">{{ equipment_installation.inclined_blocks }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                        <td class="align-middle">{{ equipment_installation.name }}</td>
                        {% if equipment_installation.point_phone %}
                        <td class="align-middle">{{ equipment_installation.point_phone.title }}/{{ equipment_installation.point_phone.subscriber_number }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                        {% if equipment_installation.branches_box %}
                        <td class="align-middle">{{ equipment_installation.branches_box.title }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
{#                        <td class="align-middle">{{ equipment_installation.description }}</td>#}
                        {% if equipment_installation.picket is not None %}
                        <td class="align-middle">{{ equipment_installation.picket }}</td>
                        {% else %}
                        <td class="align-middle text-center">-</td>
                        {% endif %}
                        <td class="text-center align-middle"><a class="btn!important text-decoration-none"
                                                                href="{% url 'mfss:equipment_installation_update' equipment_installation.pk %}">🛠️</a>
                        </td>
                        <td class="text-center align-middle"><a class="btn!important text-decoration-none"
                                                                href="{% url 'mfss:equipment_installation_delete' equipment_installation.pk %}">🗑️</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}