{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col text-start">
            <a href="{% url 'mfss:project_equipment' %}" class="color-text-violet-contents underline-none"
               type="button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 1C1.44772 1 1 1.44772 1 2V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V2C15 1.44772 14.5523 1 14 1H9.5C8.94771 1 8.5 1.44772 8.5 2V9.29289L11.1464 6.64645C11.3417 6.45118 11.6583 6.45118 11.8536 6.64645C12.0488 6.84171 12.0488 7.15829 11.8536 7.35355L8.35355 10.8536C8.15829 11.0488 7.84171 11.0488 7.64645 10.8536L4.14645 7.35355C3.95118 7.15829 3.95118 6.84171 4.14645 6.64645C4.34171 6.45118 4.65829 6.45118 4.85355 6.64645L7.5 9.29289V2C7.5 0.895431 8.39543 0 9.5 0H14C15.1046 0 16 0.895431 16 2V14C16 15.1046 15.1046 16 14 16H2C0.89543 16 0 15.1046 0 14V2C0 0.895431 0.895431 0 2 0H4.5C4.77614 0 5 0.223858 5 0.5C5 0.776142 4.77614 1 4.5 1H2Z"/>
                </svg>
                Оборудование
            </a>
        </div>
        <div class="col text-end">
            <a href="{% url 'mfss:project_cable' %}" class="color-text-violet-contents underline-none"
               type="button">
                Кабель
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 1C1.44772 1 1 1.44772 1 2V14C1 14.5523 1.44772 15 2 15H14C14.5523 15 15 14.5523 15 14V2C15 1.44772 14.5523 1 14 1H9.5C8.94771 1 8.5 1.44772 8.5 2V9.29289L11.1464 6.64645C11.3417 6.45118 11.6583 6.45118 11.8536 6.64645C12.0488 6.84171 12.0488 7.15829 11.8536 7.35355L8.35355 10.8536C8.15829 11.0488 7.84171 11.0488 7.64645 10.8536L4.14645 7.35355C3.95118 7.15829 3.95118 6.84171 4.14645 6.64645C4.34171 6.45118 4.65829 6.45118 4.85355 6.64645L7.5 9.29289V2C7.5 0.895431 8.39543 0 9.5 0H14C15.1046 0 16 0.895431 16 2V14C16 15.1046 15.1046 16 14 16H2C0.89543 16 0 15.1046 0 14V2C0 0.895431 0.895431 0 2 0H4.5C4.77614 0 5 0.223858 5 0.5C5 0.776142 4.77614 1 4.5 1H2Z"/>
                </svg>
            </a>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
    <div class="container margin-auth-block">
        <form method="post" action="{% url 'mfss:project_equipment' %}">
            <div class="row text-center mx-auto mt-4 mb-sm-5">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 card mb-3 box-shadow card-imad-auth border-none">
                    <div class="card-body mt-2 text-center">
                        <h4 class="my-0 font-weight-normal">
                            Фильтр
                        </h4>
                    </div>
                    <div class="card-body text-start">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn elem-button btn-md">
                            Применить
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="container text-center">
                {% if mine is not None %}
                    {% if project_equipment_list %}
                        <h9>По критериям: {{ mine }}
                            &#8594;
                            {{ subsystem }}
                            &#9989;
                        </h9>
                    {% else %}
                        <h9a>По критериям: {{ mine }}
                            &#8594;
                            {{ subsystem }}
                            &#10060;
                        </h9a><br><br>
                        <h9a>Не верно указаны параметры или данные отсутствуют</h9a><br><br><br>
                    {% endif %}
                {% endif %}
                {#                {{ result }}#}
                <div class="container text-center mb-5">
                    <div class="mt-sm-3 mb-sm-5">
                        <div class="container mb-5 table-responsive">
                            {% if project_equipment_list %}
                                <table
                                        id="Table"
                                        class="table table-hover table-bordered table-sm"
                                        data-toggle="table"
                                        data-pagination="true"
                                        data-search="true"
                                        data-show-pagination-switch="true"
                                        data-show-refresh="true"
                                        data-show-toggle="true"
                                        data-show-columns="true"
                                        data-show-fullscreen="true"
                                        data-buttons-prefix="btn-sm btn"
                                        data-buttons-attribute-title="data-hint"
                                        data-search-align="left"
                                        data-toolbar="#toolbar"
                                        data-loading-template="loadingTemplate"
                                        data-show-print="true"
                                >
                                <thead>
                                <tr class="box-table-th">
                                    <th class="align-middle" data-field="mine" data-sortable="true">Шахта</th>
                                    <th class="align-middle" data-field="subsystem" data-sortable="true">Подсистема</th>
                                    <th class="align-middle" data-field="equipment" data-sortable="true">Оборудование
                                    </th>
                                    <th class="align-middle" data-field="title" data-sortable="true">Обозн. в проекте
                                    </th>
                                    <th class="align-middle" data-field="subscriber_number" data-sortable="true">Аб.номер</th>
                                    <th class="align-middle" data-field="tunnel" data-sortable="true">Выработка</th>
                                    <th class="align-middle" data-field="inclined_blocks" data-sortable="true">Уклонный
                                        блок
                                    </th>
                                    <th class="align-middle" data-field="equipment_bool" data-sortable="true">
                                        Установлено
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                            {% endif %}
                            {% for project in project_equipment_list %}
                                {% if project.title %}
                                    <tr class="box-table-td">
                                        {#                                        <td>{{ object.number_mine.title }}</td>#}
                                        <td class="align-middle">{{ project.number_mine.title }}</td>
                                        <td class="align-middle">{{ project.subsystem.title }}
                                        <td class="align-middle">{{ project.title.title }}

                                            {% if project.point_phone %}
                                                <td class="align-middle">{{ project.point_phone.title }}</td>
                                            {% else %}
                                                <td class="align-middle">{{ project.name }}
                                            {% endif %}

                                            {% if project.point_phone %}
                                                <td class="align-middle">{{ project.point_phone.subscriber_number }}</td>
                                            {% else %}
                                                <td class="align-middle">-</td>
                                            {% endif %}

                                        {% if project.point_phone %}
                                            <td class="align-middle">{{ project.point_phone.tunnel.title }}(ПК{{ project.picket }})</td>
                                        {% elif  project.branches_box %}
                                            <td class="align-middle">{{ project.branches_box.tunnel.title }}(ПК{{ project.picket }})</td>
                                        {% else %}
                                            <td class="align-middle">{{ project.tunnel.title }}(ПК{{ project.picket }})</td>
                                        {% endif %}

                                        <td class="align-middle">{{ project.inclined_blocks.title }}</td>

                                        {% if project.equipment_bool.execution_bool == True %}
                                            <td class="align-middle text-center">&#9989;</td>
                                        {% else %}
                                            <td class="align-middle text-center">&#10060;</td>
                                        {% endif %}

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
    {#    </div>#}
    <div class="container">
    </div>
    <div class="container">
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}

{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}

