{% extends 'infoMFSS/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'infoMFSS/includes/navbar_home.html' %}
{% endblock %}

{% block content %}

    {% include 'infoMFSS/includes/add_table_css.html' %}

    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5">
                <h8>
                    {{ title }}
                </h8>
                <br>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5 mb-5">
        <div class="mt-sm-5 mb-sm-5">
            <div class="container mt-5 mb-5 table-responsive">
                <table
                        id="Table"
                        class="table table-hover table-bordered table-sm"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-pagination-switch="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-show-fullscreen="true"
                        data-buttons-prefix="btn-sm btn"
                        data-buttons-attribute-title="data-hint"
                        data-search-align="left"
                        data-toolbar="#toolbar"
                        data-loading-template="loadingTemplate"
                        data-show-print="true"
                >
                    <thead>
                    <tr class="box-table-th">
                        <th class="align-middle" data-sortable="true">Нефтешахта</th>
                        <th class="align-middle" data-sortable="true">Подсистема</th>
                        <th class="align-middle" data-sortable="true">Оборудование</th>
                        <th class="align-middle" data-sortable="true">Кабель</th>
                        <th class="align-middle text-center">Файл</th>
                        <th class="text-center text-danger align-middle" data-width="110">Редактировать</th>
                        <th class="text-center text-danger align-middle" data-width="110">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for visual in visual_list %}
                        <tr class="box-table-td">
                        <td class="align-middle">{{ visual.number_mine }}</td>
                        <td class="align-middle">{{ visual.subsystem }}</td>
                        {% if visual.equipment %}
                            <td class="align-middle">{{ visual.equipment }}</td>
                        {% else %}
                            <td class="align-middle">-</td>
                        {% endif %}
                        {% if visual.cable %}
                            <td class="align-middle">{{ visual.cable }}</td>
                        {% else %}
                            <td class="align-middle">-</td>
                        {% endif %}
                        {% if visual.file_pdf %}
                            <td class="text-center align-middle">
                                <a
                                        class="btn!important text-decoration-none"
                                        Style="color:#6d37ff; font-size: 13px;"
                                        href="{{ visual.file_pdf.url }}">📤
                                </a>
                            </td>
                        {% else %}
                            <td class="text-center align-middle"><a>-</a></td>
                        {% endif %}
                        <td class="text-center align-middle"><a class="btn!important text-decoration-none"
                                                                href="{% url 'mfss:visual_update' visual.pk %}">🛠️</a>
                        </td>
                        <td class="text-center align-middle"><a class="btn!important text-decoration-none"
                                                                href="{% url 'mfss:visual_delete' visual.pk %}">🗑️</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'infoMFSS/includes/add_table_javascript.html' %}

{% endblock %}
{% block footer %}
    {% include 'users/includes/auth_footer.html' %}
{% endblock %}